<h2><%= @title %></h2>
<table class="table">
  <tr>
    <th>image</th>
    <th>name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td>
      <%= image_tag user.get_profile_image, size: "50x50" %>
    </td>
    <td>
      <%= user.name %>
    </td>
    <td>
      フォロー数:<%= user.following.count %>
    </td>
    <td>
      フォロワー数:<%= user.followers.count %>
    </td>
    <td>
      <%= link_to "Show", user_path(user) %>
    </td>
  </tr>
  <% end %>
</table>