<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h3>Books</h3>
      <%= render 'books/index',books: @books %>
      <h3>投稿数の前日比・前週比</h3>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th style="width: 33%;">今日の投稿数</th>
            <th style="width: 33%;">前日の投稿数</th>
            <th style="width: 34%;">前日比</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.todays_books_count %></td>
            <td><%= @user.books_from_yesterday_count %></td>
            <td><%= @user.boos_day_over_day_change %></td>
          </tr>
        </tbody>
      </table>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th style="width: 33%;">今週の投稿数</th>
            <th style="width: 33%;">前週の投稿数</th>
            <th style="width: 34%;">前週比</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.books_from_this_week_count %></td>
            <td><%= @user.books_from_last_week_count %></td>
            <td><%= @user.books_week_over_week_change %></td>
          </tr>
        </tbody>
      </table>
      <table class = "table table-bordered">
        <thead>
          <tr>
            <% @user.books_count_last_7_days.each do |day_date| %>
              <% if day_date[:days_ago] == 0 %>
              <th>今日</th>
              <% else %>
              <th><%= "#{day_date[:days_ago]}日前" %></th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @user.books_count_last_7_days.each do |day_count| %>
              <td><%= day_count[:count] %></td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <div>
        <p class = "text-center">７日間の投稿数の比較</p>
        <canvas id="postsChart"></canvas>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var ctx = document.getElementById('postsChart').getContext('2d');
            var postsChart = new Chart(ctx, {
              type: 'line', // グラフの種類
              data: {
                labels: ["6日前", "5日前", "4前", "3日前", "2日前", "1日前", "今日"],
                datasets: [{
                  label: '比較した本の数',
                  data: <%= raw(@user.books_count_last_7_days.map { |day_data| day_data[:count] }.to_json) %>, // Y軸のデータ
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1,
                  tension: 0.4
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true,
                    min: 0, // Y軸の最小値を0に設定
                    max: 10, // Y軸の最大値を10に設定
                    ticks: {
                      stepSize: 1 // Y軸の目盛りを1刻みに設定
                    }
                  }
                }
              }
            });
          });
        </script>
      </div>
    </div>
  </div>
</div>
